@use '../utilities/functions' as *;

.toggle {
    border: none;
    gap: rem(4.8) rem(8);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3rem;

    label {
        font-size: rem(14);
        color: var(--toggle);
        
        &[for="dark"] {
        line-height: rem(24);
            margin-right: rem(14);
        }
    }

    &__wrapper {
        height: rem(24);
        position: relative;
    }

    input[type="radio"] {
        opacity: 0;
        margin: 0 -2px 0 -2px;
        width: rem(21);
        height: rem(24);
        cursor: pointer;

        // &:focus ~ .toggle__switcher {
        //     border: 2px solid #fff;
        // }
    }

    &__background {
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: rem(12);
        background: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
        pointer-events: none;
    }

    &__switcher {
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--dark-bg);
        position: absolute;
        left: rem(3);
        top: rem(3);
        right: 100%;
        transition: 0.3s;

    }

    #light:checked~.toggle__switcher {
        left: calc(100% - 21px);
        right: rem(3);
    }

    #system:checked~.toggle__switcher {
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }
}